/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  .bg-gradient {
    @apply bg-gradient-to-r from-gold to-blue-500;
  }

  .bgBorder-gradient {
    @apply bg-gradient-to-r from-black to-purple-500;
  }
}

.border-gradient {
  border: double 4px transparent;
  border-radius: 10px;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,
    rgb(12, 5, 19),
    rgb(32, 13, 34)
  );
  box-shadow: 0 -4px 6px rgba(141, 38, 201, 0.521);
}

.Imageborder-shadow {
  border: double 4px transparent;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,
    rgb(33, 13, 53),
    rgb(32, 13, 34)
  );
  box-shadow: 0 -4px 6px rgba(141, 38, 201, 0.521);
}

.sexyBorder {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.sexyBorder::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#4b2072, #f006d1);
  animation: animate 5s linear infinite;
  pointer-events: none; /* Hinzugefügt */
}

.sexyBorder::after {
  content: "SELECT";
  position: absolute;
  inset: 2px;
  background: #000000;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: monospace;
  font-style: italic;
  color: #ffffff;
  pointer-events: none; /* Hinzugefügt */
}

.sexyBorder:hover::before {
  animation-play-state: paused;
}

.sexyBorder:hover::after {
  background: #000000;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.start-fight-button {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.5rem;
  width: 5.5rem;
  background-color: yellow;
  border-radius: 50%;
  z-index: 10;
}
