/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  .bg-gradient {
    @apply bg-gradient-to-r from-gold to-blue-500;
  }

  .bgBorder-gradient {
    @apply bg-gradient-to-r from-black to-purple-500;
  }
}

.border-gradient {
  border: double 8px transparent;
  border-radius: 10px;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,
    rgb(12, 5, 19),
    rgb(32, 13, 34)
  );
}

.Imageborder-gradient {
  border: double 2px transparent;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,
    rgb(49, 24, 75),
    rgb(32, 13, 34)
  );
}

.start-fight-button {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.5rem;
  width: 5.5rem;
  background-color: yellow;
  border-radius: 50%;
  z-index: 10;
}